/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: red;
    font-family:'Lucida Sans';
}


h3 {
    color: black;
    line-height: 1.6;
    border: dashed;
    background-color: rgb(148, 148, 242);
}
h4 {
    color: black;
    line-height: 1.6;
    border: thick double #32a1ce;
    background-color: rgb(148, 225, 242);
}
p {
    color: black;
    line-height: 1.6;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3); /* Optional: Add a shadow effect */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}
