body {
    background-color: rgb(224, 150, 175);
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#joc {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mesaj {
    font-size: 1.2em;
    margin-top: 20px;
}
#playMusic{
    color: rgb(184, 105, 157);
    background-color: black;
    border-style: solid;
    border-color: rgb(184, 105, 157);
}
#pauseMusic{
    color: black;
    background-color: rgb(184, 105, 157);
    border-style: solid;
    border-color:black;
}
#stopMusic{
    color: rgb(184, 105, 157);
    background-color: black;
    border-style: solid;
    border-color: rgb(184, 105, 157);
}
#hehe{
    animation:slide 10s linear infinite;
    size:auto;
}
@keyframes slide{
    0% { transform: rotate(0deg) translateY(0px); }
    50% { transform: rotate(0deg) translateX(920px); }
    100% { transform: rotate(0deg) translateY(0px); }
}
#guessnumber{
  color: rgb(236, 96, 196);
  background-color: rgb(0, 0, 0);
  border-style: groove;
}
#ghicitor{
    color: rgb(184, 105, 157);
    background-color: black;
    border-style: solid;
    border-color: rgb(184, 105, 157);
}
#reset{
    color: black;
    background-color: rgb(184, 105, 157);
    border-style: solid;
    border-color:black;   
}